html,
body {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  padding: 0px;
  margin: 0px;
}

#root {
  height: 80%;
  width: 100%;
}
.react-aladin {
  height: 80%;
  width: 100%;
}
.instrument-geom {
  z-index: 10;
  position: relative;
  top: 0px;
  left: 0px;
}
svg {
  // width: 720px;
  // height: 720px;
  // left: 200px;
  position: absolute;
  pointer-events: none;
}

.jts {
  z-index: 10;
  // position: absolute;
  // transform: scale(0.3, -0.3);
  // transform: translate(0, 0)
}

.jts-polygon {
  stroke: gray;
  stroke-width: 2px;
  fill: lightgray;
  fill-opacity: 0.3;
  // position: absolute;
  vector-effect: non-scaling-stroke;
}

#sss {
  position: absolute;
}
#probe {
  stroke: red;
  z-index: 1;
  fill-opacity: 0.1;
}

#patrol-field {
stroke: red;
  stroke-dasharray: 10;
}

#science-area polygon {
  stroke: purple;
  fill: black;
  fill-opacity: 1;
}

#science-ccd-offset polygon {
  stroke: yellow;
  fill-opacity: 0.1;
}

#science-ccd polygon {
  stroke: cyan;
  fill-opacity: 0.1;
}

// Shows a border around the whole SVG
.jts-svg-border {
  // display: none;
  stroke: yellow;
  stroke-width: 2px;
  vector-effect: non-scaling-stroke;
  stroke-dasharray: 1;
}

// Drawn X to indicate the target, or coordinates 0,0
.jts-svg-center {
  stroke: red;
  stroke-width: 1px;
  vector-effect: non-scaling-stroke;
}
